<div class="row">
  <ol class="breadcrumb">
    <li>
      <%= link_to 'Installations', installations_path %>
    </li>
    <li>
      <%= "Installation ##{@event.installation.id}" %>
    </li>
    <li>
      <%= link_to 'Events', installation_events_path(@event.installation, @event) %>
    </li>
    <li>
      <%= "Event ##{@event.id}" %>
    </li>
    <li class="active">Errors</li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @event.reported_errors.each do |error| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= format_error error %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
